<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>小区通知</title>

    <!-- Bootstrap -->
    <link href="/homecss/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/homecss/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .main{margin-bottom: 60px;}
        .indexLabel{padding: 10px 0; margin: 10px 0 0; color: #fff;}
    </style>
</head>
<body>
<div class="main">
    <!--导航部分-->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid text-center">
            <div class="col-xs-3">
                <p class="navbar-text"><a href="/home/index/index.html" class="navbar-link">首页</a></p>
            </div>
            <div class="col-xs-3">
                <p class="navbar-text"><a href="/home/index/service.html" class="navbar-link">服务</a></p>
            </div>
            <div class="col-xs-3">
                <p class="navbar-text"><a href="faxian.html" class="navbar-link">发现</a></p>
            </div>
            <div class="col-xs-3">
                <p class="navbar-text"><a href="/user/login/index.html" class="navbar-link">我的</a></p>
            </div>
        </div>
    </nav>
    <!--导航结束-->
    <div class="container-fluid">
        <div id="test">
            {volist name="_list" id="vo"}
            <div class="row noticeList">
                <a href="{:url('Inform/list?id='.$vo.id)}">
                    <div class="col-xs-2">
                        <img class="noticeImg" src="/images/1.png" />
                    </div>
                    <div class="col-xs-10">
                        <p class="title">{$vo.title}</p>
                        <p class="intro">{$vo.description}</p>
                        <p class="info">浏览: {$vo.view} <span class="pull-right">{$vo.update_time}</span> </p>
                    </div>
                </a>
            </div>
            {/volist}
        </div>
        <div id="a" style="border: 1px solid #cbcbcb;width: 100%;text-align: center;border-radius: 5px">
         <?php
            if($a){
            ?>
            <a onclick="test({$count},{$on_page},{$info})">点击查看更多</a>
            <?php
                }else{
                ?>
            <a>没有更多了</a>
            <?php
                }
            ?>
        </div>
    </div>
</div>
</body>
</html>
<script src="/homecss/jquery-1.11.2.min.js"></script>
<script>
    function test($count,$on_page,$info) {
        var new_page = $on_page+5;
        if(new_page>$count){
            new_page =$count;
        }
        var ajax = new XMLHttpRequest();
        ajax.open('get','http://two.test/home/inform/getPage/info/'+$info+'/on_page/'+new_page);
        ajax.send();
        ajax.onreadystatechange=function () {
            if(ajax.readyState=='4'&&ajax.status=='200'){
                $('#test').html('');
                var data =JSON.parse(ajax.responseText);
                console.log(data);
                for (var i=0;i<data['on_page'];i++){
                    var href = '/home/inform/list/id/'+data[i]["id"]+'.html';
                    $('#test').append(
                        '  <div class="row noticeList">' +
                        '                <a href="'+href+'">' +
                        '                    <div class="col-xs-2">' +
                        '                        <img class="noticeImg" src="/images/1.png" />' +
                        '                    </div>' +
                        '                    <div class="col-xs-10">' +
                        '                        <p class="title">'+data[i]['title']+'</p>' +
                        '                        <p class="intro">'+data[i]['description']+'</p>' +
                        '                        <p class="info">浏览: '+data[i]['view']+' <span class="pull-right">'+data[i]['update_time']+'</span> </p>\n' +
                        '                    </div>' +
                        '                </a>' +
                        '            </div>'
                    );
                }
                if(data['on_page']>=$count){
                    data['on_page']=$count;
                    $('#a').html('<a>没有更多了</a>')
                }else{
                    $('#a').html('<a  onclick="test({$count},'+data['on_page']+',{$info})">点击查看更多</a>')
                }
            }
        }
    }
</script>